@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #007adf, #00ecbc);

    --background: 216 100% 98.04%;
    --foreground: 213.6 100% 4.9%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 215 20.2% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 213.6 100% 4.9%;

    --border: 214.74 100% 92.55%;
    --input: 214.74 100% 92.55%;

    --primary: 214.12 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214.74 100% 92.55%;
    --secondary-foreground: 216 100% 0.98%;

    --accent: 214.74 100% 92.55%;
    --accent-foreground: 214.12 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 213.6 100% 4.9%;
    --foreground: 216 100% 98.04%;

    --primary: 214.12 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 213.6 100% 4.9%;
    --card-foreground: 216 100% 98.04%;

    --popover: 213.6 100% 4.9%;
    --popover-foreground: 216 100% 98.04%;

    --secondary: 216 100% 4.9%;
    --secondary-foreground: 214.74 100% 92.55%;

    --muted: 213.6 100% 8%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 216 100% 8%;
    --accent-foreground: 214.74 100% 92.55%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 100% 15%;
    --input: 216 100% 15%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }
}

::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

::-webkit-scrollbar {
  width: 5px;
  background-color: hsl(var(--background));
  border-radius: 8px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  color: hsl(var(--primary));
  background-color: hsl(var(--primary));
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
}

.dotPattern {
  background-image: radial-gradient(
    hsl(var(--muted-foreground)) 1px,
    transparent 1px
  );
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

.card-mask {
  background: radial-gradient(
    ellipse at center,
    hsl(var(--primary) / 0.15),
    transparent
  );
}

.gradient {
  background: conic-gradient(
    from 230.29deg at 51.63% 52.16%,
    hsl(var(--primary)) 0deg,
    hsl(214.12 100% 50%) 67.5deg,
    hsl(270 57% 38%) 198.75deg,
    hsl(230 75% 37%) 251.25deg,
    hsl(217 48% 49%) 301.88deg,
    hsl(255 100% 56%) 360deg
  );
}

.lamp {
  opacity: 1;
  transform: translateY(-200px) rotate(180deg) scale(2) translateZ(0px);
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
